.finder-result-email.emailFinder {
    padding-top: 10px;
}

.emailFinder .email-container {
    border: 1px solid #e6e6e6;
    border-width: 1px 0;
    font-size: 16px;
    padding: 30px 40px;
    width: 100%;
}